{% extends "front/base_posts.html" %}
{% load compress staticfiles %}

{% block title %}
    Blog - healthchecks.io
{% endblock %}

{% block posts_content %}
    {% if posts %}
        <div class="single-post">
            <h2 class="post-heading">
                {{ post.title }}
            </h2>
            <div class="row">
                <div class="col-sm-9">
                    <h4 class="post-author">
                        {{ post.user.last_name }} {{ post.user.first_name }} | Authored on: {{ post.created|date }}
                        {% if not post.publish %}
                            (Not published)
                        {% endif %}
                    </h4>
                </div>
                <div class="col-sm-3">
                    {% if user.is_authenticated and user == post.user %}
                        <a href="{% url "hc-update-post" post.slug %}" class="edit-post">[Edit]</a>
                    {% endif %}
                </div>
            </div>
            <p class="post-content">
                {{ post.body|safe }}
            </p>
        </div>
    {% else %}
        <h2>No posts at this time</h2>
    {% endif %}
{% endblock %}
