{% extends "front/base_docs.html" %}
{% load static %}

{% block title %}Healthchecks FAQ's{% endblock %}

{% block docs_content %}

<h2>
  <b>FAQ's</b>
  {% if request.user.is_superuser %}
    <a href="#" data-toggle="modal" data-target="#add-faq" class="btn btn-sm btn-info pull-right"> 
      Create FAQ &nbsp;<span class = "badge"> &#43;</span></a>
  {% endif %}
</h2>
<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
{% for category, faq_list in faqs.items %}
  <h4>{{ category }}</h4><hr/>
  {% for faq in faq_list %}
      <div class="panel">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ faq.id }}" aria-expanded="false">
           {{ faq.title }}
        </a>
      </h4>
        </div>
        <div id="collapse{{ faq.id }}" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body text-justify">
             {{ faq.body | safe }}
          </div>
          {% if request.user.is_superuser %}
            <div class="faq-well">
              <a href="{% url 'hc-faq-delete' id=faq.id %}" class="btn btn-small btn-danger">Delete</a>
              <a href="#" uri="{% url 'hc-faq-edit' id=faq.id %}" class="btn btn-small btn-primary btn-faq__edit">Edit</a>
            </div>
          {% endif %}
        </div>
      </div>
  {% endfor %}
{% endfor %}
  </div>
  {% include "front/faq_modal.html" %}
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/ecmascript">
  $(function(){
    let $parent = $('#edit-faq__modal .modal-body');
    $('.btn-faq__edit').click(function(){
      let $uri = $(this).attr('uri');
      $.ajax({
        url:$uri,
        type:'get',
        success:function($data){
          $parent.html($data);
          CKEDITOR.config.width="100%";
          CKEDITOR.config.toolbar = [
   ['Styles','Format','Font','FontSize'],
   '/',
   ['Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste','Find','Replace','-','Outdent','Indent','-','Print'],
   '/',
   ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
   ['Image','Table','-','Link','Flash','Smiley','TextColor','BGColor','Source']
] ;
          CKEDITOR.replace("id_body",{
            width:['820px']
          });
          $('#edit-faq__modal').modal('show');
        }
      });
    });
  })
  </script>
{% endblock %}
