<!DOCTYPE html>
<!--
 - File: help_videos/modals.html
 - Author: Collins Abitekaniza <abtcolns@gmail.com>
 - Date: 03.07.2017
 - Last Modified: 03.07.2017
-->

<div id="add-video__modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add video</h4>
      </div>
      <div class="modal-body">
          <div class="row form-group">
              <div class="col-sm-12">
                  <input class="form-control" type="text" placeholder="Put title here"/>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-sm-12">
                  <textarea class="form-control" placeholder="Description" rows="5"></textarea>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-sm-12">
                  <input type="file" />
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
