<!DOCTYPE html>
<!--
 - File: front/help_videos.html
 - Author: Collins Abitekaniza <abtcolns@gmail.com>
 - Date: 03.07.2017
 - Last Modified: 03.07.2017
-->

{% extends "front/base_docs.html"%}
{% load static%}

{% block title%} Help videos - healthchecks.io {% endblock%}

{%block docs_content%}
{% include "help_videos/modals.html" %}
<h2>Help videos</h2>
<div class="row-fluid">
    {% if videos  %}
        {% for video in videos %}
        <div class="col-sm-2 col-md-4">
            <video height="240" controls style="margin:4px; width:100%">
                <source src="{{video.resource_url}}" type="video/mp4">
            </video>
            {% if request.user.is_superuser %}
            <div class="row-fluid" style="text-align:center" >
                <a data-id="{{video.id}}" href="#" data-toggle="modal" data-target="#delete-video__modal" class="text-danger btn-trigger__delete-modal">Delete</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if request.user.is_superuser %}
        <!-- Always append add button for admin user -->
        <div class="col-sm-2 col-md-4" style="text-align:center;">
            <a href="#" data-toggle="modal" data-target="#add-video__modal">Add more</a>
        </div>
        <script>
            $(function(){
                $('.btn-trigger__delete-modal').click(function(){
                    $("#delete-video__modal").attr('data-id',$(this).attr('data-id'));
                });
            })
        </script>

        {% endif %}

    {% else %}
    <div class="jumbotron">
        <p style="text-align:center">It's empty in here {% if request.user.is_superuser%} <a href="#" data-toggle="modal" data-target="#add-video__modal" >Click here to add</a>{% endif %}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
